:root {
    --screen-background: #061127;
    --screen-text: #d1ecff;
    --screen-text-secondary: #9bb7d4;
}
html {
    overflow: hidden;
    background: var(--screen-background);
}
body {
    margin: 0;
}
#app {
    width: 100%;
    height: 100%;
    color: var(--screen-text);
}
